* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(../imagenes/fondoFINAL.png);
}

.iconos {
  text-align: center;
  height: 95%;
  width: 98%;
  max-width: 300px;
  padding-right: 10px;
  padding-top: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  letter-spacing: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
}

#redes {
  color: black;
}

header {
  height: 100%;
  width: 100%;
}

main {
  margin-bottom: 110px;
}

#navContenedor {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: .9;
}

.navLogo {
  opacity: 1;
}

.h2Resto {
  height: 100%;
  width: 100%;
  color: black;
  font-size: 60px;
  font-weight: bolder;
  font-family: monospace;
  text-align: center;
  word-spacing: 20px;
  letter-spacing: 20px;
  background-color: #7e8181;
  border: 5px solid black;
}

.subir {
  height: 60px;
  width: 60px;
  position: fixed;
  bottom: 50px;
  background-color: #38c489;
  font-size: 40px;
  line-height: 60px;
  text-decoration: none;
  border-radius: 50px;
  text-align: center;
  right: 60px;
}

footer {
  background-color: black;
}

.contenedorCar {
  width: 100%;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-indicators li {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.contenedorInicio {
  width: 90%;
  background-image: url(img.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-top: 30px;
}

.prodYserv {
  font-size: 40px;
  height: 300px;
  width: 500px;
  text-align: center;
  padding: 20px;
  border: 2px solid #484c53;
  -webkit-box-shadow: 0px 0px 4px 4px rgba(83, 88, 90, 0.568);
          box-shadow: 0px 0px 4px 4px rgba(83, 88, 90, 0.568);
  font-family: monospace;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.h2Inicio {
  background-color: #8ec4b4;
}

.contactanos {
  width: 100%;
  font-weight: bold;
  font-size: 2.5em;
  text-shadow: 0.4275rem 0.4275rem 0.4275rem #8e8f8e;
}

.infoPadre {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(19%, #306152), color-stop(34%, #5c7f75), color-stop(67%, #8ec4b4), to(#b4f9e5));
  background: linear-gradient(0deg, black 0%, #306152 19%, #5c7f75 34%, #8ec4b4 67%, #b4f9e5 100%);
}

.infoHijo {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-size: 1.875em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-left: 20px;
  color: black;
}

.infoHijo1 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-size: 1.875em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.infoSubhijo {
  font-style: normal;
  font-weight: initial;
}

h3 {
  background-color: dimgray;
  text-align: center;
}

h4 {
  text-align: center;
  font-weight: bold;
}

.horarios {
  text-align: left;
}

p {
  font-size: 20px;
  background-color: black;
  color: gainsboro;
}

/*.contenedorNosotros {
    background-color: rgb(153, 148, 185);
    display: block;
    justify-content: space-around;
    border-style: inset;
}

.contenedor {
    width: 95%;
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
}*/
h3 {
  text-align: center;
}

.texto1 {
  background-color: cadetblue;
}

.listado {
  text-align: left;
  padding-left: 10px;
  font-family: monospace;
  font-size: 30px;
  color: white;
  background-color: #38c489;
  width: 55%;
}

.listaProductos {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formulario {
  background-color: cadetblue;
}
/*# sourceMappingURL=style.css.map */