.contenedorCar{
    width: 100%;
}
.carousel-inner img{
    width: 100%;
    height: 100%;
}
.carousel-indicators li{
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
.contenedorInicio {
    width: 90%;
    background-image: url(img.jpg);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
}

.prodYserv {
    font-size: 40px;
    height: 300px;
    width: 500px;
    text-align: center;
    padding: 20px;
    border: 2px solid rgb(72, 76, 83);
    box-shadow: 0px 0px 4px 4px rgba(83, 88, 90, 0.568);
    font-family: monospace;
    flex-direction: column;
    align-items: center;
}

.h2Inicio {
    background-color: rgba(142,196,180,1);
}
.contactanos{
    width: 100%;
    font-weight: bold;
    font-size: 2.5em;
    text-shadow: 0.4275rem 0.4275rem 0.4275rem rgb(142, 143, 142);
}
.infoPadre{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(48,97,82,1) 19%, rgba(92,127,117,1) 34%, rgba(142,196,180,1) 67%, rgba(180,249,229,1) 100%);

}
.infoHijo{
    flex-direction: column;
    align-items: stretch;
    font-size: 1.875em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 20px;
    color: black;
}
.infoHijo1{
    flex-direction: column;
    align-items: stretch;
    font-size: 1.875em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.infoSubhijo{
    font-style: normal;
    font-weight: initial;
}
h3{
    background-color: rgb(105, 105, 105);
    text-align: center;
}
h4{
    text-align: center;
    font-weight: bold;
}
.horarios {
    text-align: left;

}
.textoInicio{
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    color: gainsboro;
}