/*.contenedorNosotros {
    background-color: rgb(153, 148, 185);
    display: block;
    justify-content: space-around;
    border-style: inset;
}

.contenedor {
    width: 95%;
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
}*/

h3 {

}

.texto1 {
    background-color: cadetblue;
}